

/* The panel that will contain all problem panels*/
.problems-panels {
    position: fixed;
    left: 450px;
    right: 0;
    top: 100px;
    width: 100%;
}



/* problem impact panel */
.problems-panel {
    height: 600px; 
    width: 550px;
    background: white;
    position: relative;
    /* by default it's hidden*/
    left: -450px;
    top: 5px;
    z-index: 3;
    /*max-width: 575px;
    min-width: 600px;*/
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    display: none;
    overflow: hidden;
    opacity : 0;
    padding: 10px 20px;
}


/* The whole left panel for impacts*/
.impacts-panel {
    width: 445px;
    float: left;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    position: relative;
    background: white;
    height: 100%;
    min-height: 600px;
    z-index: 4;
}


/* One impact block*/
.impact {
    position: relative;
    border-bottom: 1px solid #EBEBEB;
    min-height: 60px;
    clear: both;
    display: block;
    outline: none;
    padding: 10px 20px;
    font-size: 15px;
    position: relative;
    zoom: 1;
    cursor: pointer;
    vertical-align: middle;
/*    background-image: url("alpha.png");*/
}

.alpha_red {
    background-image: url("images/alpha_red.png");
}

.alpha_orange {
    background-image: url("images/alpha_orange.png");
}

.alpha_black {
    background-image: url("images/alpha_black.png");
}

.impact-active{
    background-image: url("/static/images/right-black-arrow.png");
    color: #FFF!important;
}

/*p.impact-active {
            background:  url('../feature-tab-current.png');
            color: #FFF;
        }
*/

.impact-active .impact-state-text {
    color: #FFF;
}

.impact-active .impact-duration{
    color: #FFF;
}

.impact-active .impact-name{
    color: #FFF;
}

/* One problem block*/
.problem {
    position: relative;
    border-bottom: 1px solid #EBEBEB;
    min-height: 40px;
    clear: both;
    display: block;
    outline: none;
    padding: 10px 20px;
    font-size: 15px;
    position: relative;
    zoom: 1;
}


/* The show problem image, on the right of the impact*/
.show-problem {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 8px;
    z-index: 1;
    outline: none;
    right: 20px;
    opacity : 0;
}

/* The impact icon (so the service one or the host one) */
.impact-icon {
    float: left;
    height: 64px;
    overflow: hidden;
    width: 64px;
    margin-top: 3px;
}

.impact-icon-big {
    float: left;
    height: 80px;
    overflow: hidden;
    width: 80px;
    margin-top: 3px;
}




/* The show problem status image, on the right of the impact*/
.impact-status-icon {
    width: 48px;
    height: 48px;
    position: absolute;
    margin-left: 250px;
    z-index: 1;
    outline: none;
    left: 20px;
}


/* The show problem image, on the right of the impact*/
.criticity-icon-1 {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 50px;
    z-index: 1;
    outline: none;
    left: 20px;
}


/* The show problem image, on the right of the impact*/
.criticity-icon-2 {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 62px;
    z-index: 1;
    outline: none;
    left: 20px;
}

.criticity-icon-3 {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 74px;
    z-index: 1;
    outline: none;
    left: 20px;
}

/* The same stars, but in the proble panel */
.criticity-inpb-icon-1 {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 80px;
    z-index: 1;
    outline: none;
    left: 20px;
}


/* The show problem image, on the right of the impact*/
.criticity-inpb-icon-2 {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 92px;
    z-index: 1;
    outline: none;
    left: 20px;
}


/* The show problem image, on the right of the impact*/
.criticity-inpb-icon-3 {
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 104px;
    z-index: 1;
    outline: none;
    left: 20px;
}


/* The show problem status image, on the right of the impact*/
.impact-rows {
    position: relative;
    margin-top: 20px;
    
    z-index: 1;
    outline: none;
/*    left: 20px;*/
}


/* Each line of the impact text is a row */
.impact-row {
    display: block;
    position: relative;
    line-height: 15px;
    left: 5px;
    vertical-align: middle;
}

/* The link of the impact on its name */
.impact-name {
    font-weight: bold;
    color: #333;
}

/* The link of the impact on its name */
.impact-inpb-name {
    font-size: 150%;
    font-weight: bold;
    color: #333;
}


/* The link of the impact on its name */
.impact-state-text {
    color: #333
}

/* The text of the duration of impacts */
.impact-duration {
    color: #999;
    font-size: 11px;
}

/* The output of the impact */
.impact-outpout {
    padding: 0;
    font-family: Arial,"Helvetica Neue",sans-serif;
    line-height: 20px;
    word-wrap: break-word;
}


/* Global container */
.whole-page {
/*    width: 92%;
    margin-left: 4%;
    margin-right: 4%;*/
    /*min-width: 920px;
    max-width: 1040px;*/
    /*margin: 5px 40px;*/
    margin-top : 5px;
    position: relative;
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
    text-align: left;
    background: #DDEEF6;
}


/* The right panel under problems */
.right-panel {
    z-index: 1;
    max-width: 460px;
    min-width: 340px;
    position: relative;
    padding: 12px 20px;
    overflow: hidden;
    border-top-right-radius: 5px;

}

.right-panel-top {
    padding: 6px 10px;
    border-top-right-radius: 5px;
    float: right;
    display: block;
}

.pblink {
cursor: pointer;
}


/* OK/UP */
.divstate0, .divhstate0, .sivstate0 a, .sivhstate0 a { 
  background-color: #0b3; color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.divhstate {
    white-space: nowrap;
}
/* WARN */
.divstate1, .divstate1 a { 
  background-color: #ff0; color: #000;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);

}

/* CRIT/DOWN */
.div state2, .divhstate1, .divstate2 a, .divhstate2 a { 
  background-color: #FA5858; color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);

}

/* UNKNOWN / UNREACH */
.divstate3, .divhstate2, .divstate3 a, .divhstate2 a { 
  background-color: #f80; color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}


.problem-actions {
    /*visibility: hidden;*/
    opacity : 0.4;
}


.action-ack {
    display : inline;
    cursor: pointer;
    font-size: 13px;
}

.action-fixit {
    display : inline;
    cursor: pointer;
    font-size: 13px;
}










/* Message box part */
/* Message Boxes */
.msgBox{
    font-family:Arial, Helvetica, sans-serif;
    opacity: 0;
    position:absolute;
    top:-1000px;
    left:0px;
    max-width: 250px;
    min-width: 150px;
    color:#aaa;
    background: rgb(0, 0, 0); /* compatibility fallback */
    background: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 15px;
    box-shadow: 2px 2px 6px #666;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-box-shadow: 2px 2px 6px #666;
    -webkit-box-shadow: 2px 2px 5px #666;
    z-index:-1;
}

.msgBoxImage{
    width: 40px;
    height: 40px;
}

.msgBoxIcon{
    float:left;
    width: 40px;
    height: 40px;
    padding-right: 7px;
}

.msgBoxTitle{
    float:left;
    color: #FFFFFF;
}

.msgBoxContent{ 
    float:left;
    max-width: 80%;
    font-size:12px;
}

.msgBoxMessage{float:left;}
.msgBoxLink{color:#6699CC;}
.msgBoxLink:hover{color:#FF9900;}

.msgEditable{
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    width:250px;
    background: rgb(0, 0, 0); /* compatibility fallback */
    background: rgba(255, 255, 255, 0.1);
    border:#000;
    color:#FFF;
}






/* From Meatball css */
/* branding
----------------------------------------------- */
h1#branding {
    font-weight:normal;
    font-size:3em;
    text-align:left;
    background:#005577;
    padding:.7em 1em;
    margin-bottom:0;
}

h4#page-heading {
font-weight: normal;
padding: .5em;
margin: 0 0 10px 0;
border-bottom: 1px solid #CCC;
background: #EDF4F5;
font-size: 19px;
}