/* OK/UP */
.divstate0, .divhstate0, .divstate0 a, .divhstate0 a { 
  background-color: #0b3; color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}

.divhstate {
    white-space: nowrap;
}
/* WARN */
.divstate1, .divstate1 a { 
  background-color: #ff0; color: #000;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);

}

/* CRIT/DOWN */
.divstate2, .divhstate1, .divstate2 a, .divhstate2 a { 
  background-color: #FA5858; color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);

}

/* UNKNOWN / UNREACH */
.divstate3, .divhstate2, .divstate3 a, .divhstate2 a { 
  background-color: #f80; color: #fff;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
}



.service {
    position: relative;
    border-bottom: 1px solid #EBEBEB;
    min-height: 20px;
    clear: both;
    display: block;
    outline: none;
    padding: 5px 20px;
    font-size: 15px;
    position: relative;
    zoom: 1;
}




/*             Some small LI state, with icon   */
li.ok{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
 list-style-type: none;
 background-image: url(/static/images/tick.png);
 background-repeat: no-repeat;
 background-position: 0 0.16em;
 padding-left: 20px;
}

li.up{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
 list-style-type: none;
 background-image: url(/static/images/tick.png);
 background-repeat: no-repeat;
 background-position: 0 0.16em;
 padding-left: 20px;
}


li.unknown{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
 list-style-type: none;
 background-image: url(/static/images/unknown.png);
 background-repeat: no-repeat;
 background-position: 0 0.16em;
 padding-left: 20px;
}

li.ack{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
 list-style-type: none;
 background-image: url(/static/images/ack.png);
 background-repeat: no-repeat;
 background-position: 0 0.16em;
 padding-left: 20px;
}

li.down{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
 list-style-type: none;
 background-image: url(/static/images/down.png);
 background-repeat: no-repeat;
 background-position: 0 0.16em;
 padding-left: 20px;
}

li.unreachable{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
 list-style-type: none;
 background-image: url(/static/images/unreachable.png);
 background-repeat: no-repeat;
 background-position: 0 0.16em;
 padding-left: 20px;
}

li.warning{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
 list-style-type: none;
 background-image: url(/static/images/warning.png);
 background-repeat: no-repeat;
 background-position: 0 0.16em;
 padding-left: 20px;
}

li.critical{
/* font-family: Arial, sans-serif;
 font-size: 100%;
 color: black;*/
 list-style-type: none;
 background-image: url(/static/images/down.png);
 background-repeat: no-repeat;
 background-position: 0 0.16em;
 padding-left: 20px;
}

