/* ----------------------------------------------------------------
 *  TABLE OF CONTENT
 * ----------------------------------------------------------------
 *  + Top navigation:			#nav
 *  + Side navigation:			#nav_left
 *  + Tab navigation:			#qtabs
 *
 *  * Todo: change #nav_left -> #nav_side
  ----------------------------------------------------------------*/

/* ----------------------------------------------------------------
 *  Top navigation
 * ----------------------------------------------------------------*/
 
#nav{
	/*margin: 0;
	padding: 0;*/
	background: #222222;
	height: 40px;
}

#nav ul{
	margin: 0;
	margin-left: 15px; 
	float: left;
	padding-left: 8px;
	background: #222222;
}

#nav ul li{
	display: inline;
}


#nav ul li a{
	float: left;
	color: #636363;
	font-size: 13px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
	padding-bottom: 11px;
	text-decoration: none;
}

#nav ul li a:hover, #nav ul li a#selected {
	color: #FFFFFF;
	background: transparent url(/static/images/pointer.gif) bottom center no-repeat;
}

/* ----------------------------------------------------------------
 *  Side navigation
 * ----------------------------------------------------------------*/

#nav_left {
	border-top: 1px solid #E3E3E5;
}
#nav_left li{
	margin-left: 0;
	border-bottom: 1px solid #E3E3E5;
	height: 45px;
	text-align: center;
}

#nav_left ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

#nav_left a{
	display: block;
	text-decoration: none;
	color: #787878;
	font-size: 13px;
	padding-top: 14px;
	
}

#nav_left li:hover{
	/*background-color: #F8FBBD;*/
	font-weight: bold;
}

/* ----------------------------------------------------------------
 *  Tab navigation
 * ----------------------------------------------------------------*/

/* Used by all layouts: do NOT remove this section */
.qtwrapper {
	height: 1%;
}
ul.qtabs {
	list-style-position: outside;
	list-style-type: none;
	float: left;
	margin: 0 !important;
	padding: 0 !important;
}
ul.qtabs li {
	list-style-type: none;
	float: left;
	margin: 0 !important;
	padding: 0 !important;
	cursor: pointer;
}
.qtcontent {
	position: absolute;
	margin: 0;
	padding: 3px;
	width:99%;
	visibility: hidden;
}
.qtcurrent {
	position:relative;
	overflow:hidden; 
}
/* End Common Styles */

/* Layouts */
/* You can remove a section if you don't need that particular layout */

/* Basic Tabs  (class suffix: -basic) */

.qthead-basic ul.qtabs li {
	height: 30px;
	width: 100px;
	padding: 0 !important;
	border: 1px solid #E3E3E5;
	border-bottom: none;
	position: relative;
	bottom: -1px;
	text-align: center;
	color: #787878;
	font-size: 13px;
}
.qthead-basic ul.qtabs li span {
	display: block;
	margin: 0;
	padding: 3px;
}
.qthead-basic ul.qtabs li.open {
	font-weight: bold;
	background: #fff !important;
	z-index: 2;
}
.qthead-basic ul.qtabs li.open span {
	color: #787878;
}
div.current-basic {
	clear: both;
	border-width: 1px 1px 1px; 
	border-style: solid;
	border-color: #E3E3E5;
	/*width: 490px;*/
	min-height: 300px;
}

/* Rounded Tabs (class suffix: -round1) */
.qthead-round1 ul.qtabs li {
	background:#eeeeee url(images/round1l.gif) no-repeat scroll 0% 0%;
	margin-left: 5px !important;
	padding: 0;
}
.qthead-round1 ul.qtabs li span {
	background: transparent url(images/round1r.gif) no-repeat scroll right top;
	display: block;
	margin: 0;
	padding: 4px;
}
.qthead-round1 ul.qtabs li.open {
	background:#666666 url(images/round1lo.gif) no-repeat scroll 0% 0%;
}
.qthead-round1 ul.qtabs li.open span {
	background:transparent url(images/round1ro.gif) no-repeat scroll right top;
	color:#fff;
}
.qthead-round1 ul.qtabs li.hover span {
	text-decoration: underline;
}
div.current-round1 {
	clear:both;
	border-width: 3px 1px 1px; 
	border-style:solid;
	border-color: #666666;
	width: 450px;
}

/* Left Aligned Blue Buttons (class suffix:lft-blue1) */
.qthead-lft-blue1 {
	float:left;
	background: #eeeeee url(images/back1.gif) repeat-y scroll right top;
	border-width: 1px 0 1px 1px;
	border-style: solid;
	border-color: #d0d0d0;
	height: 200px; /* same as .current-lft-blue1 */
}
.qthead-lft-blue1 ul.qtabs {
	margin: 0;
	
}
.qthead-lft-blue1 ul.qtabs li {
	float: none;
	background:#fff url(images/bg-blue1.gif);
	margin: 0;
	padding: 6px !important;
	border-bottom: 1px solid #d0d0d0;
	border-right: 1px solid #d0d0d0;
	width: 90px;
}

.qthead-lft-blue1 ul.qtabs li span{
	color: #fff;
}
.qthead-lft-blue1 ul.qtabs li.open {
	background: #f4f4f4;
	border-right: 1px solid #f4f4f4;
}
.qthead-lft-blue1 ul.qtabs li.hover span {
	text-decoration: underline;
}
.qthead-lft-blue1 ul.qtabs li.open span{
	color: #666666;
	text-decoration: none;
}

div.current-lft-blue1 {
	clear: none;
	float: left;
	border-width: 1px 1px 1px 0;
	border-style: solid;
	border-color: #d0d0d0;
	background-color: #f4f4f4;
	padding: 0;
	width: 350px;
	height: 200px; /* same as .qthead-lft-blue1 */
}